#include "windows.h"
#include "resources.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

ID_APPMAIN MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open\tCtrl+O", IDM_OPEN
		MENUITEM "&Save\tCtrl+S", IDM_SAVE
		MENUITEM SEPARATOR
		MENUITEM "&Load Struct Info", IDM_STRUCTINFO
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", IDM_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Undo\tCtrl+Z", IDM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "Cu&t\tCtrl+X", IDM_CUT
		MENUITEM "&Copy\tCtrl+C", IDM_COPY
		MENUITEM "&Paste\tCtrl+V", IDM_PASTE
	END
	POPUP "&Object"
	BEGIN
		MENUITEM "&Find Object\tCtrl+F", IDM_SEARCHOBJ
		MENUITEM "Find &Property", IDM_SEARCHPROP
		MENUITEM "Find &Metaproperty", IDM_SEARCHMETAPROP
		MENUITEM "Find &Link", IDM_SEARCHLINK
		MENUITEM SEPARATOR
		MENUITEM "&Add", IDM_OBJADD
		MENUITEM "&Remove", IDM_OBJREMOVE
		MENUITEM SEPARATOR
		MENUITEM "Import Objects", IDM_IMPORTGMVL
		MENUITEM SEPARATOR
		MENUITEM "View &Chunks", IDM_EDITCHUNKS
	END
	POPUP "&Window"
	BEGIN
		MENUITEM "&Cascade", IDM_CASCADE
		MENUITEM "&Tile Horizontally", IDM_TILEH
		MENUITEM "Tile &Vertically", IDM_TILEV
		MENUITEM "&Arrange Icons", IDM_ARRANGE
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "There's no helping it...", IDM_ABOUTBOX
	END
END

STRINGTABLE
BEGIN
	ID_APPMAIN		"Object Hierarchy"
	IDS_OPENFILECAPTION	"Select File"
	IDS_SAVEFILECAPTION	"Output File"
	IDS_GAMSYSFILTER	"Gamesys files\\*.GAM\\All files\\*.*\\\\"
	IDS_XMLFILTER		"XML files\\*.XML\\All files\\*.*\\\\"

	IDS_UNDOREDO		"Undo % \tCtrl+Z\\Redo % \tCtrl+Z"
	IDS_ADDOBJECT		"Add Object"
	IDS_REMOBJECT		"Delete Object"
	IDS_ADDPROPERTY		"Add Property"
	IDS_REMPROPERTY		"Remove Property"
	IDS_ADDMETAPROP		"Add Metaproperty"
	IDS_REMMETAPROP		"Remove Metaproperty"
	IDS_ADDLINK		"Add Link"
	IDS_REMLINK		"Remove Link"
	IDS_ADDSTIMULUS		"Add Stim Source"
	IDS_REMSTIMULUS		"Remove Stim Source"
	IDS_ADDRECEPTRON	"Add Receptron"
	IDS_REMRECEPTRON	"Remove Receptron"

	IDS_PROPLABEL		"Properties"
	IDS_MPLABEL		"MetaProperties"
	IDS_LINKLABEL		"Links"
	IDS_STIMLABEL		"Stim Sources"
	IDS_RCPTNLABEL		"Receptrons"

	IDS_COLNAME		"Name"
	IDS_COLPRIORITY		"Priority"
	IDS_COLLINKID		"ID"
	IDS_COLSOURCE		"Source"
	IDS_COLDEST		"Dest"
	IDS_COLKIND		"Kind"
	IDS_COLSTIMULUS		"Stimulus"
	IDS_COLREACTION		"Reaction"
	IDS_COLPROPAGATION	"Propagation"
	IDS_COLINTENSITY	"Intensity"
	IDS_COLINTENSITYMIN	"Min"
	IDS_COLINTENSITYMAX	"Max"

	IDS_SEARCHOBJTITLE	"Find Object"
	IDS_SEARCHOBJPROMPT	"Object Name/ID: "
	IDS_SEARCHPROPTITLE	"Find Property"
	IDS_SEARCHMETAPROPTITLE	"Find Metaproperty"

	IDS_ADDOBJTITLE		"Create Object"
	IDS_ADDOBJPROMPT	"Object Name: "
	IDS_ADDPROPERTYTITLE	"Add Property"
	IDS_ADDPROPERTYPROMPT	"Property: "
	IDS_ADDMETAPROPTITLE	"Add Metaproperty"
	IDS_ADDMETAPROPPROMPT	"Metaprop: "
	IDS_ADDLINKTITLE	"Add Link"
	IDS_ADDLINKPROMPT	"Flavor: "
	IDS_ADDLINKDESTPROMPT	"Dest: "
	IDS_ADDSTIMULUSTITLE	"Add Stim Source"
	IDS_ADDSTIMULUSPROMPT	"Stimulus: "
	IDS_ADDRECEPTRONTITLE	"Add Receptron"
END

ID_STRINGINPUT DIALOG 30, 73, 236, 62
STYLE WS_BORDER | WS_CAPTION | DS_MODALFRAME | WS_POPUP | DS_3DLOOK
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
	RTEXT		"", IDD_STATICTEXT, 4, 8, 54, 8, SS_SIMPLE
	EDITTEXT	IDD_EDITTEXT, 59, 7, 116, 12, WS_GROUP | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
	
	DEFPUSHBUTTON	"OK", IDOK, 182, 5, 50, 14, WS_GROUP
	PUSHBUTTON	"Cancel", IDCANCEL, 182, 23, 50, 14
END

ID_LISTINPUT DIALOG 30, 73, 236, 62
STYLE WS_BORDER | WS_CAPTION | DS_MODALFRAME | WS_POPUP | DS_3DLOOK
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
	RTEXT		"", IDD_STATICLIST, 4, 8, 54, 8, SS_SIMPLE
	COMBOBOX	IDD_EDITLIST, 59, 7, 116, 12, WS_GROUP | WS_TABSTOP | CBS_DROPDOWNLIST | WS_VSCROLL
	
	DEFPUSHBUTTON	"OK", IDOK, 182, 5, 50, 14, WS_GROUP
	PUSHBUTTON	"Cancel", IDCANCEL, 182, 23, 50, 14
END

ID_LINKINPUT DIALOG 30, 73, 236, 62
STYLE WS_BORDER | WS_CAPTION | DS_MODALFRAME | WS_POPUP | DS_3DLOOK
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
	RTEXT		"", IDD_STATICLIST, 4, 8, 54, 8, SS_SIMPLE
	COMBOBOX	IDD_EDITLIST, 59, 7, 116, 12, WS_GROUP | WS_TABSTOP | CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
	RTEXT		"", IDD_STATICTEXT, 4, 23, 54, 8, SS_SIMPLE
	EDITTEXT	IDD_EDITTEXT, 59, 22, 116, 12, WS_GROUP | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
	
	DEFPUSHBUTTON	"OK", IDOK, 182, 5, 50, 14, WS_GROUP
	PUSHBUTTON	"Cancel", IDCANCEL, 182, 23, 50, 14
END

#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#endif

ID_APPMAIN ACCELERATORS
BEGIN
	"F",	IDM_SEARCHOBJ, CONTROL, VIRTKEY
	"O",	IDM_OPEN, CONTROL, VIRTKEY
	"S",	IDM_SAVE, CONTROL, VIRTKEY
	"X",	IDM_EXIT, ALT, VIRTKEY
	"Z",	IDM_UNDO, CONTROL, VIRTKEY
	VK_TAB,	IDM_PANESWITCH, VIRTKEY
	VK_F6,	IDM_WINDOWSWITCH, VIRTKEY
END

1 ICON "app.ico"
2 ICON "mdi.ico"
3 ICON "listwin.ico"

ID_OKBUTTON ICON	"ok.ico"
ID_CANCELBUTTON ICON	"cancel.ico"

ID_LISTICONS BITMAP	"list.bmp"


VS_VERSION_INFO VERSIONINFO
FILEVERSION	0,1,0,0
PRODUCTVERSION	0,1,0,0
FILEFLAGS	0
FILEOS		VOS_NT_WINDOWS32
FILETYPE	VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904e4"
		BEGIN
			VALUE	"CompanyName", "WhoopDeDo.org\0"
			VALUE	"FileDescription", "Object Hierarchy\0"
			VALUE	"FileVersion", "0.19\0"
			VALUE	"InternalName", "ObjTree\0"
			VALUE	"LegalCopyright", "Copyright (C) 2004-2006 Tom N Harris\0"
			VALUE	"OriginalFilename", "ObjTree.exe\0"
			VALUE	"ProductName", "DarkUtils\0"
			VALUE	"ProductVersion", "0.9\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation", 1033, 1252
	END
END
