/******************************************************************************
 *    brightui.rc
 *
 *    This file is part of BrightUI
 *    Copyright (C) 2003 Tom N Harris <telliamed@whoopdedo.cjb.net>
 *
 *    This program is free software; you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation; either version 2 of the License, or
 *    (at your option) any later version.
 *
 *    This program is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with this program; if not, write to the Free Software
 *    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 *****************************************************************************/

#include "windows.h"
#include "resources.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

ID_BRIGHTUI DIALOGEX 6, 18, 266, 230
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
FONT 8, "MS Shell Dlg"
CAPTION "BrightUI Options"
BEGIN
	CONTROL			"", IDB_TABS, "SysTabControl32", TCS_TABS | TCS_FOCUSONBUTTONDOWN | WS_TABSTOP, 0, 2, 266, 204
	PUSHBUTTON		"OK", IDOK, 152, 210, 50, 14, WS_DISABLED
	PUSHBUTTON		"Cancel", IDCANCEL, 208, 210, 50, 14
END


IDD_FILEOPTIONS DIALOGEX 0, 0, 260, 186
STYLE WS_CHILD | DS_CONTROL
EXSTYLE 0
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Input Files", -1, 6, 8, 120, 12
	LISTBOX		IDL_INPUTFILES, 6, 20, 120, 124, LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | WS_GROUP
	PUSHBUTTON	"&Add", IDB_ADDFILE, 10, 146, 50, 14
	PUSHBUTTON	"&Remove", IDB_REMFILE, 66, 146, 50, 14, WS_DISABLED
	
	LTEXT		"Destination", -1, 134, 8, 120, 12
	EDITTEXT	IDT_DESTDIR, 134, 20, 108, 12, ES_AUTOHSCROLL
	PUSHBUTTON	"...", IDB_SELECTDIR, 243, 19, 12, 14
	AUTOCHECKBOX	"Filename Prefix", IDB_PREFIX, 134, 40, 120, 14, WS_GROUP | WS_TABSTOP
	EDITTEXT	IDT_PREFIX, 146, 54, 104, 12, ES_AUTOHSCROLL | WS_DISABLED

	GROUPBOX		"Output Format", -1, 134, 74, 120, 50, WS_GROUP
	AUTORADIOBUTTON	"PCX", IDB_PCX, 140, 84, 100, 14, WS_TABSTOP
	AUTORADIOBUTTON	"BMP", IDB_BMP, 140, 96, 100, 14, NOT WS_TABSTOP
	AUTORADIOBUTTON	"TGA", IDB_TGA, 140, 108, 100, 14, NOT WS_TABSTOP

	AUTOCHECKBOX	"Write Palette", IDB_WRITEPAL, 134, 130, 120, 14, WS_GROUP | WS_TABSTOP
	EDITTEXT	IDT_WRITEPAL, 146, 146, 96, 12, ES_AUTOHSCROLL | WS_DISABLED
	PUSHBUTTON	"...", IDB_SELECTPAL, 242, 145, 12, 14, WS_DISABLED
	AUTOCHECKBOX	"Allow &8-bit", IDB_ALLOW8BIT, 6, 166, 120, 14, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX	"Write &Bumpmaps", IDB_BUMP, 134, 166, 88, 14, WS_GROUP | WS_TABSTOP
	EDITTEXT	IDT_BUMP, 222, 166, 32, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_DISABLED
END

IDD_COLOROPTIONS DIALOGEX 0, 0, 260, 186
STYLE WS_CHILD | DS_CONTROL
EXSTYLE 0
FONT 8, "MS Shell Dlg"
BEGIN
	GROUPBOX		"Color Space", -1, 6, 8, 88, 38, WS_GROUP
	AUTORADIOBUTTON	"YCbCr", IDB_YCC, 12, 18, 72, 14, WS_TABSTOP
	AUTORADIOBUTTON	"RGB", IDB_RGB, 12, 30, 72, 14, NOT WS_TABSTOP
	LTEXT		"Sampling Depth", -1, 6, 54, 88, 12, WS_GROUP
	EDITTEXT	IDT_DEPTHRED, 94, 54, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	EDITTEXT	IDT_DEPTHGREEN, 118, 54, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	EDITTEXT	IDT_DEPTHBLUE, 142, 54, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	AUTOCHECKBOX	"Force Upper Limit", IDB_BINS, 6, 72, 88, 14, WS_GROUP | WS_TABSTOP
	EDITTEXT	IDT_BINS, 94, 72, 32, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL | WS_DISABLED
	AUTOCHECKBOX	"Account for Mipmaps", IDB_MIPS, 6, 88, 120, 14, WS_GROUP | WS_TABSTOP
END

IDD_PALETTEOPTIONS DIALOGEX 0, 0, 260, 186
STYLE WS_CHILD | DS_CONTROL
EXSTYLE 0
FONT 8, "MS Shell Dlg"
BEGIN
	COMBOBOX	IDM_PALETTE, 6, 8, 120, 48, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
	LTEXT		"Num. of Palettes", IDS_NUMPALS, 6, 28, 88, 12, WS_GROUP
	EDITTEXT	IDT_NUMPALS, 94, 28, 32, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	LTEXT		"Max. Error", IDS_ERROR, 6, 28, 88, 12, WS_GROUP | NOT WS_VISIBLE
	EDITTEXT	IDT_ERROR, 94, 28, 32, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL | NOT WS_VISIBLE
	EDITTEXT	IDT_PALFILE, 6, 28, 108, 12, ES_AUTOHSCROLL | NOT WS_VISIBLE
	PUSHBUTTON	"...", IDB_PALFILE, 114, 27, 12, 14, NOT WS_VISIBLE
	LTEXT		"Num. of Colors", -1, 6, 48, 88, 12, WS_GROUP
	EDITTEXT	IDT_COLORS, 94, 48, 32, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	LTEXT		"Pre-Sampling Depth", -1, 6, 66, 88, 12, WS_GROUP
	EDITTEXT	IDT_PREDEPTHRED, 94, 66, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	EDITTEXT	IDT_PREDEPTHGREEN, 118, 66, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	EDITTEXT	IDT_PREDEPTHBLUE, 142, 66, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL
	AUTOCHECKBOX	"Dither", IDB_DITHER, 6, 84, 88, 14, WS_GROUP | WS_TABSTOP
	EDITTEXT	IDT_DITHER, 94, 84, 32, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL | WS_DISABLED
	AUTOCHECKBOX	"Compensate for Image Size", IDB_SIZEBIAS, 6, 102, 120, 14, WS_GROUP | WS_TABSTOP
END

IDD_MASKOPTIONS DIALOGEX 0, 0, 260, 186
STYLE WS_CHILD | DS_CONTROL
EXSTYLE 0
FONT 8, "MS Shell Dlg"
BEGIN
	COMBOBOX	IDM_MASK, 6, 8, 120, 88, CBS_DROPDOWNLIST | WS_TABSTOP | WS_GROUP
	CONTROL		"", IDS_MASKCOLOR, "static", SS_BLACKRECT | SS_SUNKEN | SS_OWNERDRAW | NOT WS_VISIBLE, 134, 8, 88, 20
	EDITTEXT	IDT_MASKRED, 134, 32, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL | WS_GROUP | NOT WS_VISIBLE
	EDITTEXT	IDT_MASKGREEN, 158, 32, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL | NOT WS_VISIBLE
	EDITTEXT	IDT_MASKBLUE, 182, 32, 18, 12, ES_NUMBER | ES_RIGHT | ES_AUTOHSCROLL | NOT WS_VISIBLE
	PUSHBUTTON	"...", IDB_MASKCOLOR, 206, 31, 12, 14, NOT WS_VISIBLE
	LTEXT		"Tolerance", -1, 6, 52, 88, 12, WS_GROUP
	EDITTEXT	IDT_MASK, 94, 52, 32, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_DISABLED
	AUTOCHECKBOX	"Fatness", IDB_FATMASK, 6, 70, 88, 14, WS_GROUP | WS_TABSTOP | WS_DISABLED
	EDITTEXT	IDT_FATMASK, 94, 70, 32, 12, ES_RIGHT | ES_AUTOHSCROLL | WS_DISABLED
	AUTOCHECKBOX	"Always Set Index 0 to Black", IDB_BLACK, 6, 88, 120, 14, WS_GROUP | WS_TABSTOP
END

IDD_TRANSOPTIONS DIALOGEX 0, 0, 260, 186
STYLE WS_CHILD | DS_CONTROL
EXSTYLE 0
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT		"Tolerance", -1, 6, 8, 88, 12, WS_GROUP
	EDITTEXT	IDT_TRANS, 94, 8, 32, 12, ES_RIGHT | ES_AUTOHSCROLL
END


ID_BRIGHTUI MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Run Bright...", IDM_BRIGHTUI
		MENUITEM "Clean-Up &Mask...", IDM_OUTMASK
		MENUITEM "Snap to &Black...", IDM_TRANS
		MENUITEM SEPARATOR
		MENUITEM "E&xit", IDM_EXIT
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&Manual", IDM_README
		MENUITEM "&Copyright", ID_GPL
	END
END

ID_GPL DIALOGEX 0, 0, 360, 220
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE 0
CAPTION "GNU General Public License"
FONT 9, "Courier New"
BEGIN
	PUSHBUTTON	"OK", IDOK, 156, 200, 50, 14
	EDITTEXT	101, 6, 6, 348, 188, ES_MULTILINE | ES_READONLY | WS_VSCROLL
END


STRINGTABLE
BEGIN
	IDS_OPENFILECAPTION		"Select File"
	IDS_SAVEFILECAPTION		"Output File"
	IDS_OPENDIRCAPTION		"Select Directory"
	IDS_CONFIRMCAPTION		"Confirm"
	IDS_REPLACEINPUTFILE	"A file named %1 is already included. Do you want to replace it with the file you just selected?"
END


COPYRIGHT TEXT	"COPYING"

#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#endif

1 ICON "bright.ico"

// The dialog pages don't look so great right now.
1 24	"brightui.manifest"

VS_VERSION_INFO	VERSIONINFO
FILEVERSION		1,2,0,0
PRODUCTVERSION	1,2,0,0
FILEFLAGS		0
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_APP
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904e4"
		BEGIN
			VALUE	"CompanyName", "WhoopDeDo.org\0"
			VALUE	"FileDescription", "Bright UI\0"
			VALUE	"FileVersion", "1.2\0"
			VALUE	"InternalName", "BrightUI\0"
			VALUE	"LegalCopyright", "Copyright (C) 2003 Tom N Harris\0"
			VALUE	"OriginalFilename", "BrightUI.exe\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE	"Translation", 1033, 1252
	END
END

